<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7652d69f-f4bb-4e35-8c8c-3e8c56ff4d16" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7652d69f-f4bb-4e35-8c8c-3e8c56ff4d16fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
